pkgbase = rocclr
	pkgdesc = Radeon Open Compute Common Language Runtime
	pkgver = 3.10.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCclr
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = mesa
	depends = comgr
	depends = hsa-rocr
	depends = hsakmt-roct
	depends = rocm-cmake
	source = rocclr-3.10.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-3.10.0.tar.gz
	source = rocclr-opencl-3.10.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-3.10.0.tar.gz
	sha256sums = d1ac02840c2dcb3d5fa3008fe9e313767ebe6d1dcf978a924341834ec96ebfe2
	sha256sums = 3aa9dc5a5f570320b04b35ee129ce9ff21062d2770df934c6c307913f975e93d

pkgname = rocclr

