pkgbase = rocclr
	pkgdesc = Radeon Open Compute Common Language Runtime
	pkgver = 3.9.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCclr
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = mesa
	depends = comgr
	depends = hsa-rocr
	depends = hsakmt-roct
	depends = rocm-cmake
	source = rocclr-3.9.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-3.9.0.tar.gz
	source = rocclr-opencl-3.9.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-3.9.0.tar.gz
	sha256sums = d248958672ae35ab7f9fbd83827ccf352e2756dfa7819f6b614ace2e1a9a064e
	sha256sums = 286ff64304905384ce524cd8794c28aee216befd6c9267d4187a12e5a21e2daf

pkgname = rocclr

