pkgbase = rocclr
	pkgdesc = Radeon Open Compute Common Language Runtime
	pkgver = 4.3.1
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCclr
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = mesa
	depends = comgr
	depends = hsa-rocr
	depends = hsakmt-roct
	depends = rocm-cmake
	source = rocclr-4.3.1.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-4.3.1.tar.gz
	source = rocclr-opencl-4.3.1.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-4.3.1.tar.gz
	sha256sums = bda52c65f03a69a9d8ab1a118d45646d76843249fb975d67e5141e63fa3acc79
	sha256sums = 7f98f7d4707b4392f8aa7017aaca9e27cb20263428a1a81fb7ec7c552e60c4ca

pkgname = rocclr
