pkgbase = rocm-dev
	pkgdesc = ROCm Dev - Metapackage for the ROCm Development Stack
	pkgver = 3.3.0
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = comgr
	depends = hcc
	depends = hip-hcc
	depends = hsakmt-roct
	depends = hsa-amd-aqlprofile
	depends = hsa-ext-rocr
	depends = hsa-rocr
	depends = rocm-cmake
	depends = rocm-device-libs
	depends = rocm-smi
	depends = rocprofiler
	depends = rocr-debug-agent
	depends = rocm-utils

pkgname = rocm-dev

