pkgbase = rocm-dev
	pkgdesc = ROCm Dev - Metapackage for the ROCm Development Stack
	pkgver = 3.5.0
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = hsa-rocr
	depends = hsa-ext-rocr
	depends = rocm-device-libs
	depends = rocm-utils
	depends = llvm-amdgpu
	depends = hip-rocclr
	depends = rocm-gdb
	depends = rocm-smi
	depends = rocm-smi-lib64
	depends = hsakmt-roct
	depends = hsa-amd-aqlprofile
	depends = comgr
	depends = rocm-debug-agent
	depends = rocm-cmake
	depends = rocprofiler
	depends = roctracer
	depends = rocm-dbgapi

pkgname = rocm-dev

