pkgbase = rocm-cmake
	pkgdesc = CMake modules for common build tasks needed for the ROCm software stack
	pkgver = 3.9.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocm-cmake
	arch = x86_64
	license = MIT
	makedepends = cmake
	source = rocm-cmake-3.9.0.tar.gz::https://github.com/RadeonOpenCompute/rocm-cmake/archive/rocm-3.9.0.tar.gz
	sha256sums = e0a8db85bb55acb549f360eb9b04f55104aa93e4c3db33f9ba11d9adae2a07eb

pkgname = rocm-cmake

