pkgbase = rocm-gdb
	pkgdesc = ROCm source-level debugger for Linux, based on GDB
	pkgver = 4.0.0
	pkgrel = 2
	url = https://github.com/ROCm-Developer-Tools/ROCgdb
	arch = x86_64
	license = GPL
	makedepends = texinfo
	depends = rocm-dbgapi
	depends = python
	depends = guile2.0
	depends = ncurses
	depends = expat
	depends = xz
	depends = zlib
	depends = mpfr
	depends = source-highlight
	depends = babeltrace
	source = rocm-gdb-4.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCgdb/archive/rocm-4.0.0.tar.gz
	sha256sums = b90291b0a8409fe66d8a65d2731dcb87b9f5a22bac9ce3ffbab726eb129ba13d

pkgname = rocm-gdb
