pkgbase = rocm-gdb
	pkgdesc = ROCm source-level debugger for Linux, based on GDB
	pkgver = 4.5.2
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCgdb
	arch = x86_64
	license = GPL
	makedepends = texinfo
	depends = rocm-dbgapi
	depends = python
	depends = guile2.0
	depends = ncurses
	depends = expat
	depends = xz
	depends = zlib
	depends = mpfr
	depends = source-highlight
	depends = babeltrace
	source = rocm-gdb-4.5.2.tar.gz::https://github.com/ROCm-Developer-Tools/ROCgdb/archive/rocm-4.5.2.tar.gz
	sha256sums = e278abf50f1758ce396b26a6719d0af09a6053c195516a44ec9b2be925d79203

pkgname = rocm-gdb
