pkgbase = hip-runtime-amd
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 4.5.2
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = python
	makedepends = git
	depends = mesa
	depends = comgr
	depends = rocminfo
	depends = rocm-llvm
	depends = libelf
	provides = hip
	conflicts = hip
	source = hip-runtime-amd-4.5.2.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-4.5.2.tar.gz
	source = hip-runtime-amd-opencl-4.5.2.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-4.5.2.tar.gz
	source = hip-runtime-amd-rocclr-4.5.2.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-4.5.2.tar.gz
	source = hip-runtime-amd-hipamd-4.5.2.tar.gz::https://github.com/ROCm-Developer-Tools/hipamd/archive/rocm-4.5.2.tar.gz
	source = disable-testing.patch
	source = vector_oob.patch
	sha256sums = c2113dc3c421b8084cd507d91b6fbc0170765a464b71fb0d96bb875df368f160
	sha256sums = 96b43f314899707810db92149caf518bdb7cf39f7c0ad86e98ad687ffb0d396d
	sha256sums = 6581916a3303a31f76454f12f86e020fb5e5c019f3dbb0780436a8f73792c4d1
	sha256sums = b6f35b1a1d0c466b5af28e26baf646ae63267eccc4852204db1e0c7222a39ce2
	sha256sums = 3f158fb78296477db176c53a8df60b8034004c400b6c62f558c94663a5246883
	sha256sums = 8295e2d1b1d48da821f280e6a44f8376cbe73b77bd58bdceed38dbc2a100569f

pkgname = hip-runtime-amd
