pkgbase = hip-runtime-amd
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 5.1.1
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = python
	makedepends = git
	depends = mesa
	depends = comgr
	depends = rocminfo
	depends = rocm-llvm
	depends = libelf
	provides = hip
	conflicts = hip
	source = hip-runtime-amd-5.1.1.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-5.1.1.tar.gz
	source = hip-runtime-amd-opencl-5.1.1.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-5.1.1.tar.gz
	source = hip-runtime-amd-rocclr-5.1.1.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-5.1.1.tar.gz
	source = hip-runtime-amd-hipamd-5.1.1.tar.gz::https://github.com/ROCm-Developer-Tools/hipamd/archive/rocm-5.1.1.tar.gz
	source = git-hash.patch
	sha256sums = c2400c98d87f72e7a879d167d9913bca778e66bc198518a0fdb345e3e50792f1
	sha256sums = 1a3d7a063cf3c10246513f672f5adff412136e93ffcbd8f5682dfafa1c79026c
	sha256sums = d6d08e0dafb5fb80609ad8610cdff3e8fcbb2249ae32ee0dc036537cdc8361d1
	sha256sums = e2fb059841940a9ccf5d8b94e5022979796d93da2f049211fbd07e190d3e99e5
	sha256sums = 84cd40751e041edd48489eca59f1702bba08a402b25162e4cf061de45abc2bde

pkgname = hip-runtime-amd
