pkgbase = hip-runtime-amd
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 5.3.3
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = python
	makedepends = python-cppheaderparser
	depends = mesa
	depends = comgr
	depends = rocminfo
	depends = rocm-llvm
	depends = libelf
	provides = hip
	conflicts = hip
	source = hip-runtime-amd-5.3.3.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-5.3.3.tar.gz
	source = hip-runtime-amd-opencl-5.3.3.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-5.3.3.tar.gz
	source = hip-runtime-amd-rocclr-5.3.3.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-5.3.3.tar.gz
	source = hip-runtime-amd-hipamd-5.3.3.tar.gz::https://github.com/ROCm-Developer-Tools/hipamd/archive/rocm-5.3.3.tar.gz
	sha256sums = 51d4049dc37d261afb9e1270e60e112708ff06b470721ff21023e16e040e4403
	sha256sums = cab394e6ef16c35bab8de29a66b96a7dc0e7d1297aaacba3718fa1d369233c9f
	sha256sums = f8133a5934f9c53b253d324876d74f08a19e2f5b073bc94a62fe64b0d2183a18
	sha256sums = 36acce92af39b0fa06002e164f5a7f5a9c7daa19bf96645361325775a325499d

pkgname = hip-runtime-amd
