pkgbase = rock-dkms-bin
	pkgdesc = Linux AMD GPU kernel driver from ROC in DKMS format.
	pkgver = 3.5
	pkgrel = 4
	url = https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver
	arch = any
	license = GPL
	depends = dkms
	depends = rock-dkms-firmware
	provides = rock-dkms
	conflicts = rock-dkms
	options = !strip
	options = !emptydirs
	backup = etc/modprobe.d/blacklist-radeon.conf
	source = http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.5-32_all.deb
	source = rock_compatibility.patch::https://patch-diff.githubusercontent.com/raw/RadeonOpenCompute/ROCK-Kernel-Driver/pull/95.patch
	sha256sums = 96bb0730df239e9c7ea6b0086060dff04a31e620a08c51e7b1f9235858dbe2af
	sha256sums = a8dec1dc7d118844dfe2bbf4beab8b15b69cdae478957dfc5e033997f58d00cb

pkgname = rock-dkms-bin

