pkgbase = rock-dkms-bin
	pkgdesc = Linux AMD GPU kernel driver from ROC in DKMS format.
	pkgver = 3.5
	pkgrel = 5
	url = https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver
	arch = any
	license = GPL
	depends = dkms
	depends = rock-dkms-firmware
	provides = rock-dkms
	conflicts = rock-dkms
	options = !strip
	options = !emptydirs
	backup = etc/modprobe.d/blacklist-radeon.conf
	source = http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.5-30_all.deb
	source = rock_compatibility.patch::https://patch-diff.githubusercontent.com/raw/RadeonOpenCompute/ROCK-Kernel-Driver/pull/95.patch
	sha256sums = f12a2cc3786bda711413f28be06d5ca0a0d44a441cf824455b0262da595a4ece
	sha256sums = a8dec1dc7d118844dfe2bbf4beab8b15b69cdae478957dfc5e033997f58d00cb

pkgname = rock-dkms-bin

