pkgbase = rocm-validation-suite
	pkgdesc = Tool for detecting and troubleshooting common problems affecting AMD GPUs
	pkgver = 4.2.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCmValidationSuite
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = pciutils
	depends = doxygen
	depends = rocblas
	depends = rocm-smi-lib64
	depends = git
	options = !staticlibs
	options = strip
	source = rocm-validation-suite-4.2.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCmValidationSuite/archive/rocm-4.2.0.tar.gz
	source = action.patch
	sha256sums = b25e58a842a8eb90bfd6c4ae426ca5cfdd5de2f8a091761f83597f7cfc2cd0f3
	sha256sums = 8edac06b0658c77f91ce77bbfbe539c4f001b27ab205aabcad91cbecf19bd4d0

pkgname = rocm-validation-suite

