pkgbase = rocm-validation-suite
	pkgdesc = Tool for detecting and troubleshooting common problems affecting AMD GPUs
	pkgver = 5.0.2
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCmValidationSuite
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = pciutils
	depends = doxygen
	depends = rocblas
	depends = rocm-smi-lib64
	depends = git
	depends = libpciaccess
	options = !staticlibs
	options = strip
	options = !lto
	source = rocm-validation-suite-5.0.2.tar.gz::https://github.com/ROCm-Developer-Tools/ROCmValidationSuite/archive/rocm-5.0.2.tar.gz
	source = gtest.patch::https://patch-diff.githubusercontent.com/raw/ROCm-Developer-Tools/ROCmValidationSuite/pull/523.patch
	source = rvs-os-type.patch::https://github.com/acxz/ROCmValidationSuite/commit/eb1a4bf5de8d8ba25f21ee13d6af1c46416e3961.patch
	sha256sums = f249fe700a5a96c6dabf12130a3e366ae6025fe1442a5d11d08801d6c0265af4
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = rocm-validation-suite
