pkgbase = rocm-llvm-alt-bin
	pkgdesc = Closed source components for rocm-llvm
	pkgver = 5.6.0
	pkgrel = 1
	url = https://rocm.docs.amd.com/en/latest/reference/rocmcc/rocmcc.html
	arch = x86_64
	license = EULA
	provides = rocm-llvm-alt
	conflicts = rocm-llvm-alt
	source = rocm-llvm-alt-bin-5.6.0.tar.gz::http://repo.radeon.com/rocm/apt/5.6/pool/proprietary/r/rocm-llvm-alt/rocm-llvm-alt_16.0.0.23045.50600-67~20.04_amd64.deb
	sha256sums = 84e3b1ccc11aad174178f1e70a82649be5ad27d3aaf361496009ae7838aae9ec

pkgname = rocm-llvm-alt-bin
