pkgbase = hip-hcc
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 3.1.0
	pkgrel = 3
	url = https://github.com/ROCm-Developer-Tools/HIP
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	makedepends = python
	makedepends = hcc
	makedepends = rocm-comgr
	provides = hip
	conflicts = hip
	source = https://github.com/ROCm-Developer-Tools/HIP/archive/roc-3.1.0.tar.gz
	sha256sums = 3e7b7ef508f4c0d34756104936bc25eaffe419415013c93da72244aac199ae91

pkgname = hip-hcc

