pkgbase = rocm-debug-agent
	pkgdesc = ROCr Debug Agent Library
	pkgver = 5.2.3
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/rocr_debug_agent
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	depends = hip
	depends = rocm-dbgapi
	depends = glibc
	source = rocm-debug-agent-5.2.3.tar.gz::https://github.com/ROCm-Developer-Tools/rocr_debug_agent/archive/rocm-5.2.3.tar.gz
	sha256sums = 5d31372e2980738271ae26b92dcc402c387cdf5f23710ce6feeb2bd303ff7ea0

pkgname = rocm-debug-agent
