pkgbase = rocm-debug-agent
	pkgdesc = ROCr Debug Agent Library
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/rocr_debug_agent
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = git
	depends = hip-rocclr
	depends = rocm-dbgapi
	depends = glibc
	options = !staticlibs
	options = strip
	source = rocm-debug-agent-4.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/rocr_debug_agent/archive/rocm-4.0.0.tar.gz
	sha256sums = a9e64834d56a9221c242e71aa110c2cef0087aa8f86f50428dd618e5e623cc3c

pkgname = rocm-debug-agent
