pkgbase = hipblas
	pkgdesc = ROCm BLAS marshalling library
	pkgver = 5.4.1
	pkgrel = 1
	url = https://hipblas.readthedocs.io/en/latest/
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	makedepends = gcc-fortran
	depends = hip
	depends = rocblas
	depends = rocsolver
	source = hipblas-5.4.1.tar.gz::https://github.com/ROCmSoftwarePlatform/hipBLAS/archive/rocm-5.4.1.tar.gz
	sha256sums = 84f0129f92a5907ae8c4cb0c84a7138aaeb8d1c2aa965fbab9ee23df2232d5bc

pkgname = hipblas
