pkgbase = hipblas
	pkgdesc = ROCm BLAS marshalling library
	pkgver = 5.4.0
	pkgrel = 1
	url = https://hipblas.readthedocs.io/en/latest/
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	makedepends = gcc-fortran
	depends = hip
	depends = rocblas
	depends = rocsolver
	source = hipblas-5.4.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipBLAS/archive/rocm-5.4.0.tar.gz
	sha256sums = 341d61adff8d08cbf70aa07bd11a088bcd0687fc6156870a1aee9eff74f3eb4f

pkgname = hipblas
