pkgbase = rocsolver
	pkgdesc = Subset of LAPACK functionality on the ROCm platform
	pkgver = 5.2.3
	pkgrel = 1
	url = https://rocsolver.readthedocs.io/en/latest/
	arch = x86_64
	license = BSD 2-Clause
	makedepends = cmake
	makedepends = python
	makedepends = python-pyaml
	makedepends = rocm-cmake
	depends = hip
	depends = rocblas
	depends = fmt
	options = !lto
	source = rocsolver-5.2.3.tar.gz::https://github.com/ROCmSoftwarePlatform/rocSOLVER/archive/rocm-5.2.3.tar.gz
	sha256sums = b278a1640f31fb1905f18dc5127d57e2b1d36fd2b4f39ae811b5537fa6ce87d4

pkgname = rocsolver
