pkgbase = rocsolver
	pkgdesc = Subset of LAPACK functionality on the ROCm platform
	pkgver = 4.3.1
	pkgrel = 1
	url = https://rocsolver.readthedocs.io/en/latest/userguidedocu.html
	arch = x86_64
	license = BSD 2-Clause
	makedepends = cmake
	makedepends = python
	makedepends = python-pyaml
	makedepends = rocm-cmake
	depends = hip-rocclr
	depends = rocblas
	source = rocsolver-4.3.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rocSOLVER/archive/rocm-4.3.1.tar.gz
	sha256sums = c6e7468d7041718ce6e1c7f50ec80a552439ac9cfed2dc3f753ae417dda5724f

pkgname = rocsolver
