pkgbase = rocthrust
	pkgdesc = Port of the Thrust parallel algorithm library atop HIP/ROCm
	pkgver = 5.2.3
	pkgrel = 2
	url = https://docs.amd.com/bundle/rocTHRUST_API_Guide/page/index.html
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	depends = hip
	depends = rocprim
	source = rocthrust-5.2.3.tar.gz::https://github.com/ROCmSoftwarePlatform/rocThrust/archive/rocm-5.2.3.tar.gz
	sha256sums = 0f5ef39c5faab31eb34b48391d58096463969c133ca7ed09ab4e43caa5461b29

pkgname = rocthrust
