pkgbase = rocm-smi
	pkgdesc = Utility to manage and monitor AMDGPU / ROCm systems.
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROC-smi/
	arch = any
	license = MIT
	depends = python
	source = rocm-smi-3.0.0.tar.gz::https://github.com/RadeonOpenCompute/ROC-smi/archive/roc-3.0.0.tar.gz
	source = python2_fix.patch
	sha256sums = b35cb654c3a794586ff60cf226884239e19cb91c0a5c2cb1d4e7b1be1cb845b2
	sha256sums = SKIP

pkgname = rocm-smi

