pkgbase = hipcub
	pkgdesc = Reusable software components for the rocm developers.
	pkgver = 2.6.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/hipCUB
	arch = x86_64
	license = NCSAOSL
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	makedepends = ninja
	makedepends = hcc
	makedepends = python2
	makedepends = rocminfo
	depends = hcc
	depends = hip
	source = https://github.com/ROCmSoftwarePlatform/hipCUB/archive/2.6.0.tar.gz
	sha256sums = 511011ac126b4213557b6faae64fbc2e5a4c6474aef5109cf57115344bf35546

pkgname = hipcub

