pkgbase = hcc
	pkgdesc = C++ Compiler for Heterogeneous Compute
	pkgver = 3.3.0
	pkgrel = 3
	url = https://github.com/RadeonOpenCompute/hcc
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = python
	depends = hsa-rocr>=3.3.0
	depends = z3
	options = !staticlibs
	options = strip
	source = hcc-roc-hcc-3.3.0.tar.gz::https://github.com/RadeonOpenCompute/hcc/archive/roc-hcc-3.3.0.tar.gz
	source = llvm-project-roc-hcc-3.3.0.tar.gz::https://github.com/RadeonOpenCompute/llvm-project/archive/roc-hcc-3.3.0.tar.gz
	source = ROCm-Device-Libs-roc-hcc-3.3.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-Device-Libs/archive/roc-hcc-3.3.0.tar.gz
	sha256sums = b134cbc9ccfdda0255edad95d06c11fac63bcdbffc1e4d14eb946833cedc9600
	sha256sums = 37baed7d0130b38840ec00973d68d089f21798c27be91d0b9177b2e943945c0f
	sha256sums = 7a82aac4390c468a8ba7060b7ba0ecef0c89856df4e2133ad74418264ae62aaf

pkgname = hcc

