pkgbase = hsa-ext-rocr
	pkgdesc = ROCm Platform Runtime: Closed source components
	pkgver = 3.3.0
	pkgrel = 3
	url = https://github.com/RadeonOpenCompute/ROCR-Runtime
	arch = x86_64
	license = EULA
	depends = hsa-rocr
	depends = hsakmt-roct
	options = !strip
	source = http://repo.radeon.com/rocm/apt/debian/pool/main/h/hsa-ext-rocr-dev/hsa-ext-rocr-dev_1.1.30300.0-rocm-rel-3.3-19-23fc088b_amd64.deb
	sha256sums = 6b44e286b395d946b865ec1f3cc546356396785ac1fde591d07af02d0aa7c25d

pkgname = hsa-ext-rocr

