pkgbase = rocm-llvm
	pkgdesc = Radeon Open Compute - LLVM toolchain (llvm, clang, lld)
	pkgver = 5.0.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/llvm-project
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = clang
	makedepends = python
	makedepends = ninja
	depends = z3
	provides = llvm-amdgpu
	conflicts = llvm-amdgpu
	replaces = llvm-amdgpu
	options = staticlibs
	source = rocm-llvm-5.0.0.tar.gz::https://github.com/RadeonOpenCompute/llvm-project/archive/rocm-5.0.0.tar.gz
	sha256sums = bca2db4aaab71541cac588d6a708fde60f0ebe744809bde8a3847044a1a77413

pkgname = rocm-llvm
