pkgbase = rocm-hip-runtime
	pkgdesc = Packages to run HIP applications on the AMD platform
	pkgver = 4.5.2
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-core
	depends = rocm-language-runtime
	depends = rocminfo
	depends = hip-runtime-amd
	depends = rocm-llvm
	depends = rocm-cmake
	optdepends = hipify-clang: Translate CUDA code into HIP. Requires CUDA.

pkgname = rocm-hip-runtime
