pkgbase = rocm-hip-runtime
	pkgdesc = Packages to run HIP applications on the AMD platform
	pkgver = 5.2.1
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-core
	depends = rocm-language-runtime
	depends = rocminfo
	depends = hip-runtime-amd
	depends = rocm-llvm
	depends = rocm-cmake
	optdepends = hipify-clang: Translate CUDA code into HIP. Requires CUDA.
	source = rocm-hip-runtime-5.2.1.deb::https://repo.radeon.com/rocm/apt/5.2.1/pool/main/r/rocm-hip-runtime/rocm-hip-runtime_5.2.1.50201-79_amd64.deb
	sha256sums = 61d6227693cbbbe00a52905373a47536ba4e993da316088094d01026df7b1499

pkgname = rocm-hip-runtime
