pkgbase = rocm-smi-lib
	pkgdesc = ROCm System Management Interface Library
	pkgver = 5.3.3
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocm_smi_lib
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = doxygen
	makedepends = texlive-latexextra
	depends = hsa-rocr
	depends = python
	options = !lto
	source = rocm-smi-lib-5.3.3.tar.gz::https://github.com/RadeonOpenCompute/rocm_smi_lib/archive/rocm-5.3.3.tar.gz
	source = missing_string_header.patch::https://patch-diff.githubusercontent.com/raw/RadeonOpenCompute/rocm_smi_lib/pull/107.patch
	sha256sums = c2c2a377c2e84f0c40297a97b6060dddc49183c2771b833ebe91ed98a98e4119
	sha256sums = f1d66af131833a55bcfcac63e9af7194cc38cb1bb583fb74427e4f0f89719910

pkgname = rocm-smi-lib
