pkgbase = hip
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIP
	arch = x86_64
	license = MIT
	makedepends = hcc>=3.3.0
	makedepends = cmake
	makedepends = python2
	source = https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-3.3.0.tar.gz
	sha256sums = 8ae7cf4134975c7a36e0c72a5e041694935f38c2d7df58f4ad55e9a23b7b875c

pkgname = hip

