pkgbase = llvm-roc
	pkgdesc = Radeon Open Compute - LLVM toolchain (clang, lld)
	pkgver = 3.1.0
	pkgrel = 2
	url = https://github.com/ROCm-Developer-Tools/llvm-project
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = python
	source = https://github.com/RadeonOpenCompute/llvm-project/archive/roc-ocl-3.1.0.tar.gz
	source = llvm-roc-3.0.0-add_libraries.patch
	sha256sums = fb62584b8db54483e40e3c6ec35da700455b7e9bce5ce152a1382243a064c387
	sha256sums = e37b026d5026381940a6300407551c9eba1c25a0f0f0c650d351295e692776f7

pkgname = llvm-roc

