pkgbase = llvm-roc
	pkgdesc = Radeon Open Compute - LLVM toolchain (clang, lld)
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/llvm-project
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = python
	depends = z3
	source = https://github.com/RadeonOpenCompute/llvm-project/archive/rocm-ocl-3.3.0.tar.gz
	source = llvm-roc-3.0.0-add_libraries.patch
	sha256sums = a2bef7042e8e2f2cd8548cb246b88322e1c77188839983dcac8312d56f544dc8
	sha256sums = e37b026d5026381940a6300407551c9eba1c25a0f0f0c650d351295e692776f7

pkgname = llvm-roc

