pkgbase = hipfort
	pkgdesc = Fortran interfaces for ROCm libraries
	pkgver = 5.4.1
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/hipfort/
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	depends = hip
	depends = gcc-fortran
	options = !strip
	source = hipfort-5.4.1.tar.gz::https://github.com/ROCmSoftwarePlatform/hipfort/archive/rocm-5.4.1.tar.gz
	sha256sums = 1e2d4ca623729668fab997dce67365bd5c28570fca7822f17b99f2302f9cea28

pkgname = hipfort
