pkgbase = hipfort
	pkgdesc = Fortran interfaces for ROCm libraries
	pkgver = 5.4.0
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/hipfort/
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	depends = hip
	depends = gcc-fortran
	options = !strip
	source = hipfort-5.4.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipfort/archive/rocm-5.4.0.tar.gz
	sha256sums = a781bc6d1dbb508a4bd6cc3df931696fac6c6361d4fd35efb12c9a04a72e112c

pkgname = hipfort
