pkgbase = hipfort
	pkgdesc = Fortran interfaces for ROCm libraries
	pkgver = 5.0.1
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/hipfort/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	depends = hip
	depends = gcc-fortran
	options = !strip
	source = hipfort-5.0.1.tar.gz::https://github.com/ROCmSoftwarePlatform/hipfort/archive/rocm-5.0.1.tar.gz
	sha256sums = d66b965f84a52e4b5e60f624e3bc02ff6dcee26742c35242ad56cac450eb48f0

pkgname = hipfort
