pkgbase = hip-rocclr
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 4.2.0
	pkgrel = 3
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = python
	makedepends = git
	depends = rocclr
	depends = rocminfo
	depends = libelf
	provides = hip
	conflicts = hip
	source = hip-rocclr-4.2.0.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-4.2.0.tar.gz
	source = amdgpu-targets.patch
	sha256sums = ecb929e0fc2eaaf7bbd16a1446a876a15baf72419c723734f456ee62e70b4c24
	sha256sums = c1ccea2c6ca3e0e2a5f6449dccab7081386cb224db8c95391b27d8ac6f1d5754

pkgname = hip-rocclr
