pkgbase = rocm-dkms
	pkgdesc = ROCm - Open Soruce Platform for HPC and Ultrascale GPU Computing
	pkgver = 3.10.0
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-dev
	depends = rock-dkms
	provides = rocm

pkgname = rocm-dkms

