pkgbase = hipcpu-git
	pkgdesc = Implementation of AMD HIP for CPUs
	pkgver = latest
	pkgrel = 1
	url = http://github.com/illuhad/hipCPU
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	depends = openmp
	provides = hipcpu
	conflicts = hipcpu
	source = git+https://github.com/illuhad/hipCPU.git
	sha256sums = SKIP

pkgname = hipcpu-git

