pkgbase = hipsolver
	pkgdesc = rocSOLVER marshalling library.
	pkgver = 5.1.0
	pkgrel = 1
	url = https://hipsolver.readthedocs.io/en/latest/userguide_index.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	depends = hip
	depends = rocsolver
	source = hipsolver-5.1.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipSOLVER/archive/rocm-5.1.0.tar.gz
	sha256sums = 697ba2b2814e7ac6f79680e6455b4b5e0def1bee2014b6940f47be7d13c0ae74

pkgname = hipsolver
