pkgbase = hipsolver
	pkgdesc = rocSOLVER marshalling library.
	pkgver = 5.4.0
	pkgrel = 1
	url = https://hipsolver.readthedocs.io/en/latest/index.html
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	makedepends = gcc-fortran
	depends = hip
	depends = rocsolver
	source = hipsolver-5.4.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipSOLVER/archive/rocm-5.4.0.tar.gz
	sha256sums = d53d81c55b458ba5e6ea0ec6bd24bcc79ab06789730391da82d8c33b936339d9

pkgname = hipsolver
