pkgbase = hipsolver
	pkgdesc = rocSOLVER marshalling library.
	pkgver = 5.1.3
	pkgrel = 1
	url = https://hipsolver.readthedocs.io/en/latest/userguide_index.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	depends = hip
	depends = rocsolver
	source = hipsolver-5.1.3.tar.gz::https://github.com/ROCmSoftwarePlatform/hipSOLVER/archive/rocm-5.1.3.tar.gz
	sha256sums = 96faa799a2db8078b72f9c3b5c199179875a7c20dc1064371b22a6a63397c145

pkgname = hipsolver
