pkgbase = rocm-developer-tools
	pkgdesc = Packages required to debug and profile HIP-based applications
	pkgver = 5.2.3
	pkgrel = 1
	url = https://docs.amd.com
	arch = x86_64
	depends = rocm-core
	depends = rocm-hip-sdk
	depends = rocprofiler
	depends = roctracer
	depends = rocm-gdb
	depends = rocm-dbgapi
	depends = rocm-debug-agent
	source = rocm-developer-tools-5.2.3.deb::https://repo.radeon.com/rocm/apt/5.2.3/pool/main/r/rocm-developer-tools/rocm-developer-tools_5.2.3.50203-109_amd64.deb
	sha256sums = c6bb59da0e62cca77e6ed04a1544439ac9b7193431efe5c3e69f8c482d83d38b

pkgname = rocm-developer-tools
