pkgbase = rocm-dbgapi
	pkgdesc = Support library necessary for a debugger of AMD's GPUs
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/ROCdbgapi
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	makedepends = doxygen
	depends = comgr
	depends = hsa-rocr
	source = rocm-dbgapi-3.5.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCdbgapi/archive/rocm-3.5.0.tar.gz
	sha256sums = eeba0592bc79b90e5b874bba18fd003eab347e8a3cc80343708f8d19e047e87b

pkgname = rocm-dbgapi

