pkgbase = rocm-dbgapi
	pkgdesc = Support library necessary for a debugger of AMD's GPUs
	pkgver = 3.7.0
	pkgrel = 3
	url = https://github.com/ROCm-Developer-Tools/ROCdbgapi
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	makedepends = doxygen
	makedepends = texlive-latexextra
	depends = comgr
	depends = hsa-rocr
	source = rocm-dbgapi-3.7.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCdbgapi/archive/rocm-3.7.0.tar.gz
	sha256sums = bdeaf81ea8a0ac861a697e435c72cbe767c291638be43f0d09116ad605dfee4f

pkgname = rocm-dbgapi

