pkgbase = miopengemm
	pkgdesc = An OpenCL GEMM kernel generator
	pkgver = 4.5.2
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/MIOpenGEMM
	arch = x86_64
	license = MIT
	makedepends = opencl-headers
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = texlive-latexextra
	depends = ocl-icd
	source = miopengemm-4.5.2.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpenGEMM/archive/rocm-4.5.2.tar.gz
	source = fix-gcc11-build.patch::https://patch-diff.githubusercontent.com/raw/ROCmSoftwarePlatform/MIOpenGEMM/pull/46.patch
	sha256sums = e778e0ccb123cd637ac459b2aecdf0fdead158580479bc0adfc9a28879e1d1c9
	sha256sums = 5c81ee48b64de3c343cde2df8551bba966961b99d1fe4b12f0348ced5fe52a18

pkgname = miopengemm
