pkgbase = rocm-device-libs
	pkgdesc = Radeon Open Compute - device libs
	pkgver = 5.2.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCm-Device-Libs
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = rocm-llvm
	source = rocm-device-libs-5.2.1.tar.gz::https://github.com/RadeonOpenCompute/ROCm-Device-Libs/archive/rocm-5.2.1.tar.gz
	sha256sums = e5855387ce73ed483ed0d03dbfef31f297c6ca66cf816f6816fd5ee373fc8225

pkgname = rocm-device-libs
