pkgbase = hsa-ext-rocr-bin
	pkgdesc = ROCm Platform Runtime: Closed source components
	pkgver = 3.5.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCR-Runtime
	arch = x86_64
	license = EULA
	depends = hsa-rocr
	depends = hsakmt-roct
	provides = hsa-ext-rocr
	conflicts = hsa-ext-rocr
	source = hsa-ext-rocr-bin-3.5.1.tar.gz::https://repo.radeon.com/rocm/apt/3.5.1/pool/main/h/hsa-ext-rocr-dev/hsa-ext-rocr-dev_1.1.30501.0-rocm-rel-3.5-34-def83d8_amd64.deb
	sha256sums = 0ef5132d086f36ce73161ff21bc4108e33f27cdff838b3f347729497050fa0ac

pkgname = hsa-ext-rocr-bin

