pkgbase = rocm-libs
	pkgdesc = ROCm Libs - Libraries utilizing HPC and Ultrascale GPU Computing of ROCm
	pkgver = 4.0.0
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = hipblas
	depends = hipcub
	depends = hipsparse
	depends = miopen-hip
	depends = rocalution
	depends = rocblas
	depends = rocfft
	depends = rocprim
	depends = rocrand
	depends = rocsolver
	depends = rocsparse
	depends = rocthrust

pkgname = rocm-libs
