pkgbase = llvm-amdgpu
	pkgdesc = Radeon Open Compute - LLVM toolchain (llvm, clang, lld)
	pkgver = 4.3.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/llvm-project
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = python
	makedepends = ninja
	depends = z3
	options = staticlibs
	source = llvm-amdgpu-4.3.1.tar.gz::https://github.com/RadeonOpenCompute/llvm-project/archive/rocm-4.3.1.tar.gz
	sha256sums = b53c6b13be7d77dc93a7c62e4adbb414701e4e601e1af2d1e98da4ee07c9837f

pkgname = llvm-amdgpu
