pkgbase = miopen-opencl
	pkgdesc = AMD's Machine Intelligence Library (OpenCL backend)
	pkgver = 4.5.2
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = MIT
	makedepends = opencl-headers
	makedepends = rocm-cmake
	makedepends = cmake
	makedepends = miopengemm
	depends = ocl-icd
	depends = rocblas
	depends = rocm-llvm
	provides = miopen
	conflicts = miopen
	source = miopen-opencl-4.5.2.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpen/archive/rocm-4.5.2.tar.gz
	sha256sums = cb49bdf215ed9881755239b6312d72f829c1a0edf510e6d1fbb206c41f5406fc

pkgname = miopen-opencl
