pkgbase = miopen-opencl
	pkgdesc = AMD's Machine Intelligence Library (OpenCL backend)
	pkgver = 4.0.0
	pkgrel = 2
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = opencl-headers
	makedepends = rocm-cmake
	makedepends = cmake
	makedepends = miopengemm
	depends = ocl-icd
	depends = rocblas
	depends = llvm-amdgpu
	provides = miopen
	conflicts = miopen
	source = miopen-opencl-4.0.0.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpen/archive/rocm-4.0.0.tar.gz
	sha256sums = 84c6c17be9c1a9cd0d3a2af283433f64b07a4b9941349f498e40fed82fb205a6

pkgname = miopen-opencl
