pkgbase = miopen-opencl
	pkgdesc = AMD's Machine Intelligence Library (OpenCL backend)
	pkgver = 4.3.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = MIT
	makedepends = opencl-headers
	makedepends = rocm-cmake
	makedepends = cmake
	makedepends = miopengemm
	depends = ocl-icd
	depends = rocblas
	depends = llvm-amdgpu
	provides = miopen
	conflicts = miopen
	source = miopen-opencl-4.3.0.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpen/archive/rocm-4.3.0.tar.gz
	source = add_limits_header.patch::https://patch-diff.githubusercontent.com/raw/ROCmSoftwarePlatform/MIOpen/pull/1084.patch
	sha256sums = 034445470cfd44480a1d9854f9fdfe92cfb8efa3f002dee508eb9585e338486d
	sha256sums = ac5491425c13f9c1a98d49ba76d8552738a54477c7d303ee9ff29e27eebb0c8b

pkgname = miopen-opencl
