pkgbase = rccl
	pkgdesc = ROCm Communication Collectives Library
	pkgver = 5.1.3
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/rccl
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = python
	makedepends = gtest
	depends = hip
	depends = rocm-smi-lib
	source = rccl-5.1.3.tar.gz::https://github.com/ROCmSoftwarePlatform/rccl/archive/rocm-5.1.3.tar.gz
	sha256sums = 56491257f27b48bf85f4b91434a2a6e49a448337c889db181b02c8a4a260a4bc

pkgname = rccl
