pkgbase = rccl
	pkgdesc = ROCm Communication Collectives Library
	pkgver = 5.0.1
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/rccl
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = python
	makedepends = gtest
	depends = hip
	depends = rocm-smi-lib64
	source = rccl-5.0.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rccl/archive/rocm-5.0.1.tar.gz
	sha256sums = c6e187b5253d33fc2d8b6c3417edd1a6c78ead7186e06ebea711f5385cc8e070

pkgname = rccl
