pkgbase = rccl
	pkgdesc = ROCm Communication Collectives Library
	pkgver = 3.3.0
	pkgrel = 2
	url = https://github.com/ROCmSoftwarePlatform/rccl
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = hcc
	makedepends = python2
	makedepends = rocminfo
	depends = hcc
	depends = hip
	source = https://github.com/ROCmSoftwarePlatform/rccl/archive/rocm-3.3.0.tar.gz
	sha256sums = fcebb7983d7299bb4d002ae21e31c1d372e0e4b2406ee2b2321d856388a1193e

pkgname = rccl

