pkgbase = rocrand
	pkgdesc = Pseudo-random and quasi-random number generator on ROCm
	pkgver = 3.8.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#rocrand
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = hip-rocclr
	source = rocrand-3.8.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocRAND/archive/rocm-3.8.0.tar.gz
	sha256sums = 79eb84d41363a46ed9bb18d9757cf6a419d2f48bb6a71b8e4db616a5007a6560

pkgname = rocrand

