pkgbase = rocrand
	pkgdesc = Pseudo-random and quasi-random number generator on ROCm
	pkgver = 4.5.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#rocrand
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	makedepends = python
	depends = hip
	optdepends = gcc-fortran: Use Fortran wrapper
	optdepends = python: Use Python wrapper
	source = rocrand-4.5.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocRAND/archive/rocm-4.5.0.tar.gz
	sha256sums = fd391f81b9ea0b57808d93e8b72d86eec1b4c3529180dfb99ed6d3e2aa1285c2

pkgname = rocrand
