pkgbase = rocminfo
	pkgdesc = ROCm info tools - rocm_agent_enumerator
	pkgver = 5.0.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocminfo
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = git
	makedepends = rocm-cmake
	depends = pciutils
	depends = python
	depends = hsa-rocr
	source = rocminfo-5.0.1.tar.gz::https://github.com/RadeonOpenCompute/rocminfo/archive/rocm-5.0.1.tar.gz
	sha256sums = 62b5c4528d10725ec91037dc4494af74efcc641a1a6ae868ea0a97f74a251450

pkgname = rocminfo
