pkgbase = rocminfo
	pkgdesc = ROCm Application for Reporting System Info
	pkgver = 5.3.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocminfo
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = rocm-cmake
	depends = pciutils
	depends = python
	depends = hsa-rocr
	source = rocminfo-5.3.0.tar.gz::https://github.com/RadeonOpenCompute/rocminfo/archive/rocm-5.3.0.tar.gz
	sha256sums = c279da1d946771d120611b64974fde751534e787a394ceb6b8e0b743c143d782

pkgname = rocminfo
