pkgbase = mivisionx
	pkgdesc = Set of comprehensive computer vision and machine intelligence libraries, utilities
	pkgver = 5.6.1
	pkgrel = 1
	url = https://gpuopen-professionalcompute-libraries.github.io/MIVisionX/
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	depends = miopen-hip
	depends = migraphx
	depends = protobuf
	depends = opencv
	depends = ffmpeg4.4
	depends = qt5-base
	options = !lto
	source = mivisionx-5.6.1.tar.gz::https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/archive/rocm-5.6.1.tar.gz
	sha256sums = b2ff95c1488e244f379482631dae4f9ab92d94a513d180e03607aa1e184b5b0a

pkgname = mivisionx
