pkgbase = mivisionx
	pkgdesc = Set of comprehensive computer vision and machine intelligence libraries, utilities
	pkgver = 5.4.4
	pkgrel = 1
	url = https://gpuopen-professionalcompute-libraries.github.io/MIVisionX/
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	depends = miopen-hip
	depends = migraphx
	depends = protobuf
	depends = opencv
	depends = ffmpeg4.4
	depends = qt5-base
	options = !lto
	source = mivisionx-5.4.4.tar.gz::https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/archive/rocm-5.4.4.tar.gz
	sha256sums = 59bf9363a7fc7260428270cd8112d4986ce35ea880702e6eafc8e5bdcb20116c

pkgname = mivisionx
