pkgbase = mivisionx
	pkgdesc = Set of comprehensive computer vision and machine intelligence libraries, utilities, and applications bundled into a single toolkit
	pkgver = 5.0.0
	pkgrel = 1
	url = https://gpuopen-professionalcompute-libraries.github.io/MIVisionX/
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = rocm-core
	depends = rocm-cmake
	depends = miopengemm
	depends = miopen
	depends = protobuf
	depends = opencv
	depends = ffmpeg
	source = mivisionx-5.0.0.tar.gz::https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/archive/rocm-5.0.0.tar.gz
	sha256sums = 935113feb71eced2b5f21fffc2a90a188b4ef2fe009c50f0445504cb27fbc58c

pkgname = mivisionx
