pkgbase = rocsparse
	pkgdesc = BLAS for sparse computation on top of ROCm
	pkgver = 5.0.2
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#rocsparse
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	depends = hip
	depends = rocprim
	source = rocsparse-5.0.2.tar.gz::https://github.com/ROCmSoftwarePlatform/rocSPARSE/archive/rocm-5.0.2.tar.gz
	sha256sums = c9d9e1b7859e1c5aa5050f5dfdf86245cbd7c1296c0ce60d9ca5f3e22a9b748b

pkgname = rocsparse
