pkgbase = rocsparse
	pkgdesc = BLAS for sparse computation on top of ROCm
	pkgver = 3.9.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#rocsparse
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	depends = hip-rocclr
	depends = rocprim
	source = rocsparse-3.9.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocSPARSE/archive/rocm-3.9.0.tar.gz
	sha256sums = 7b8f952d0c7f8ac2f3bb60879ab420fabbfafb0885a3d8464d5b4c191e97dec6

pkgname = rocsparse

