pkgbase = hipfft
	pkgdesc = rocFFT marshalling library.
	pkgver = 4.3.1
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/hipFFT
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = hip-rocclr
	depends = rocfft
	source = hipfft-4.3.1.tar.gz::https://github.com/ROCmSoftwarePlatform/hipFFT/archive/rocm-4.3.1.tar.gz
	sha256sums = 429cfd40415856da8f5c2c321b612800d6826ee121df5a4e6d1596cad5b51727

pkgname = hipfft
