pkgbase = hipfft
	pkgdesc = rocFFT marshalling library.
	pkgver = 5.2.0
	pkgrel = 1
	url = https://hipfft.readthedocs.io/en/latest/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = hip
	depends = rocfft
	source = hipfft-5.2.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipFFT/archive/rocm-5.2.0.tar.gz
	sha256sums = ec37edcd61837281c403802ccc1cb01ec3fa3ba135b5ab16617961b66d4cc3e2

pkgname = hipfft
