pkgbase = hipfft
	pkgdesc = rocFFT marshalling library.
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/hipFFT
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = hip
	depends = rocfft
	source = hipfft-4.5.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipFFT/archive/rocm-4.5.0.tar.gz
	sha256sums = 96636713bc6cdafbd5a9c1e98e816895448960c86b380fc0c3c9ffa28f670844

pkgname = hipfft
