pkgbase = rocalution
	pkgdesc = Next generation library for iterative sparse solvers for ROCm platform
	pkgver = 5.1.3
	pkgrel = 1
	url = https://rocalution.readthedocs.io/en/master
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	depends = hip
	depends = rocsparse
	depends = rocblas
	depends = rocprim
	depends = rocrand
	depends = openmp
	source = rocalution-5.1.3.tar.gz::https://github.com/ROCmSoftwarePlatform/rocALUTION/archive/rocm-5.1.3.tar.gz
	sha256sums = 7febe8179f120cbe58ea255bc233ad5d1b4c106f3934eb8e670135a8b7bd09c7

pkgname = rocalution
