pkgbase = rocalution
	pkgdesc = Next generation library for iterative sparse solvers for ROCm platform.
	pkgver = 3.1.0
	pkgrel = 2
	url = https://github.com/ROCmSoftwarePlatform/rocALUTION
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = hcc>=3.1.0
	makedepends = hip>=3.1.0
	makedepends = rocsparse>=3.1.0
	makedepends = rocblas>=3.1.0
	makedepends = rocprim>=3.1.0
	makedepends = comgr>=3.1.0
	makedepends = python2
	makedepends = rocminfo
	depends = hcc
	depends = hip
	depends = rocsparse
	depends = rocblas
	depends = rocprim
	depends = rocm-comgr
	source = https://github.com/ROCmSoftwarePlatform/rocALUTION/archive/rocm-3.1.tar.gz
	sha256sums = 45c96916f915fcacab3a94f111912e9511167977678603f3c7253053eeec6513

pkgname = rocalution

