pkgbase = rocm-llvm-mlir
	pkgdesc = Radeon Open Compute - LLVM Multi-Level IR Compiler Framework
	pkgver = 5.1.0
	pkgrel = 2
	url = https://github.com/ROCmSoftwarePlatform/llvm-project-mlir
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = sqlite
	makedepends = python
	depends = hip
	options = !lto
	source = rocm-llvm-mlir-5.1.0.tar.gz::https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/archive/release/rocm-5.1.tar.gz
	sha256sums = 7bc1eba4af74a4884efcf1cc73933efd7d8bc97445bf2a2e441d4db4ed624c4f

pkgname = rocm-llvm-mlir
