pkgbase = rocm-llvm-mlir
	pkgdesc = Radeon Open Compute - LLVM Multi-Level IR Compiler Framework
	pkgver = 5.4.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/rocMLIR
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = ninja
	makedepends = sqlite
	makedepends = python
	depends = hip
	options = !lto
	source = rocm-llvm-mlir-5.4.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocMLIR/archive/refs/tags/rocm-5.4.0.tar.gz
	sha256sums = 3823f455ee392118c3281e27d45fa0e5381f3c4070eb4e06ba13bc6b34a90a60

pkgname = rocm-llvm-mlir
