pkgbase = rocm-llvm-mlir
	pkgdesc = Radeon Open Compute - LLVM Multi-Level IR Compiler Framework
	pkgver = 5.1.2
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/llvm-project-mlir
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = sqlite
	makedepends = python
	depends = hip
	options = !lto
	source = rocm-llvm-mlir-5.1.2.tar.gz::https://github.com/ROCmSoftwarePlatform/llvm-project-mlir/archive/refs/tags/rocm-5.1.2.tar.gz
	sha256sums = 3b750ac53e0708ed69c6117921594949aaea60370e22a420657fdb039dd3a918

pkgname = rocm-llvm-mlir
