pkgbase = hcc-git
	pkgdesc = C++ Compiler for Heterogeneous Compute
	pkgver = latest
	pkgrel = 2
	url = https://github.com/RadeonOpenCompute/hcc
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = git
	makedepends = cmake
	makedepends = python
	depends = hsa-rocr
	provides = hcc
	conflicts = hcc
	source = git+https://github.com/RadeonOpenCompute/hcc.git
	source = git+https://github.com/RadeonOpenCompute/llvm-project.git
	source = git+https://github.com/RadeonOpenCompute/ROCm-Device-Libs.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = hcc-git

