pkgbase = hip-nvcc
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 3.9.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIP
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	depends = cuda
	depends = llvm-amdgpu
	provides = hip
	conflicts = hip
	source = hip-nvcc-3.9.0.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-3.9.0.tar.gz
	source = hipinfo.patch
	sha256sums = 25ad58691456de7fd9e985629d0ed775ba36a2a0e0b21c086bd96ba2fb0f7ed1
	sha256sums = bddced0c770848aaa44514986fed3fe1c01699dffe41d11767a5014f0ebfa69f

pkgname = hip-nvcc

