pkgbase = hip-nvcc
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 3.7.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIP
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	depends = cuda
	depends = llvm-amdgpu
	provides = hip
	conflicts = hip
	source = hip-nvcc-3.7.0.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-3.7.0.tar.gz
	source = hipinfo.patch
	sha256sums = 757b392c3beb29beea27640832fbad86681dbd585284c19a4c2053891673babd
	sha256sums = f94d8b2426d5f8eecd420698a2b7f3d66ddc0531afe313a572f0b644f6e45b64

pkgname = hip-nvcc

