pkgbase = hip-nvcc
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 4.3.1
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIP
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	makedepends = git
	depends = cuda
	depends = llvm-amdgpu
	provides = hip
	conflicts = hip
	source = hip-nvcc-4.3.1.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-4.3.1.tar.gz
	sha256sums = 955311193819f487f9a2d64bffe07c4b8c3a0dc644dc3ad984f7c66a325bdd6f

pkgname = hip-nvcc
