pkgbase = rock-dkms
	pkgdesc = Linux AMD GPU kernel driver from ROC in DKMS format.
	pkgver = 3.3.19
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver
	arch = any
	license = GPL
	depends = dkms>=1.95
	options = !strip
	options = !emptydirs
	backup = etc/modprobe.d/blacklist-radeon.conf
	source = http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_3.3-19_all.deb
	source = Makefile.patch
	sha256sums = 9a6eb2b65360b5ec74de3212030506ae6706bd29dc65d45582dc9d61f16dd5a3
	sha256sums = c01e4aeb6c8d5997d1dc89e3bfa12fe82e68add3f8eb83bce498066600d8e231

pkgname = rock-dkms

