pkgbase = rock-dkms
	pkgdesc = Linux AMD GPU kernel driver from ROC in DKMS format.
	pkgver = 1.8.151
	pkgrel = 2
	arch = any
	license = GPL
	depends = dkms>=1.95
	options = !strip
	options = !emptydirs
	backup = etc/modprobe.d/blacklist-radeon.conf
	source = http://repo.radeon.com/rocm/apt/debian/pool/main/r/rock-dkms/rock-dkms_1.8-151_all.deb
	source = https://github.com/oleid/amdgpu-dkms/commit/7d11254249da86c987601b7d8a1860e12efabefa.patch
	sha512sums = c3fc094c44bb5d2a21c5f18e24429a5720eed729669f9347308cec48f4c78335732e72acf3db4cb646dd4441160f6bc3531f650c213d67c5584c50b5028e2a53
	sha512sums = SKIP

pkgname = rock-dkms

