pkgbase = hsa-rocr
	pkgdesc = ROCm Platform Runtime: ROCr a HPC market enhanced HSA based runtime
	pkgver = 5.1.3
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/ROCR-Runtime.html
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = rocm-llvm
	makedepends = xxd
	depends = libelf
	depends = hsakmt-roct
	depends = rocm-device-libs
	depends = hsa-amd-aqlprofile
	provides = rocr-runtime=5.1.3
	conflicts = rocr-runtime
	replaces = rocr-runtime
	source = hsa-rocr-5.1.3.tar.gz::https://github.com/RadeonOpenCompute/ROCR-Runtime/archive/rocm-5.1.3.tar.gz
	source = remove-warnings.patch
	sha256sums = 479340ec34cdffbbdb1002c85a47d1fccd23e8394631a1f001ef6130be08287d
	sha256sums = 9aecc193aafe58c235b82b7d7c4444fd4175224233fde6a23c54014b3dcc0f6a

pkgname = hsa-rocr
