pkgbase = comgr
	pkgdesc = Radeon Open Compute - compiler support
	pkgver = 4.2.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCm-CompilerSupport
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = rocm-cmake
	depends = zlib
	depends = llvm-amdgpu
	depends = rocm-device-libs
	source = comgr-4.2.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-CompilerSupport/archive/rocm-4.2.0.tar.gz
	sha256sums = 40a1ea50d2aea0cf75c4d17cdd6a7fe44ae999bf0147d24a756ca4675ce24e36

pkgname = comgr
