pkgbase = comgr
	pkgdesc = Radeon Open Compute - compiler support
	pkgver = 5.0.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCm-CompilerSupport
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = rocm-llvm
	makedepends = rocm-cmake
	depends = zlib
	depends = rocm-device-libs
	source = comgr-5.0.1.tar.gz::https://github.com/RadeonOpenCompute/ROCm-CompilerSupport/archive/rocm-5.0.1.tar.gz
	sha256sums = 53006e7abf1ba8cf95bc68669a5e9ba3cc51ad9ddf0d3b8a53615e36104a5f4f

pkgname = comgr
