pkgbase = comgr
	pkgdesc = Radeon Open Compute - compiler support
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCm-CompilerSupport
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = rocm-cmake
	depends = zlib
	depends = llvm-amdgpu
	depends = rocm-device-libs
	source = comgr-4.1.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-CompilerSupport/archive/rocm-4.1.0.tar.gz
	sha256sums = ffb625978555c63582aa46857672431793261166aa31761eff4fe5c2cab661ae

pkgname = comgr
