pkgbase = hsa-amd-aqlprofile-bin
	pkgdesc = AQLPROFILE library for AMD HSA runtime API extension support
	pkgver = 5.1.3
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/
	arch = x86_64
	license = EULA
	provides = hsa-amd-aqlprofile
	conflicts = hsa-amd-aqlprofile
	source = hsa-amd-aqlprofile-bin-5.1.3.tar.gz::http://repo.radeon.com/rocm/apt/5.1.3/pool/main/h/hsa-amd-aqlprofile/hsa-amd-aqlprofile_1.0.0.50103-66_amd64.deb
	sha256sums = ba76a30f078cfd2d4927fd43840f22265ebc0dfd1c03ac3bc36f637b67ec4119

pkgname = hsa-amd-aqlprofile-bin
