pkgbase = hip-runtime-nvidia
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 5.2.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	makedepends = python
	makedepends = git
	depends = cuda
	depends = rocm-llvm
	provides = hip
	conflicts = hip
	source = hip-runtime-nvidia-5.2.0.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-5.2.0.tar.gz
	source = hip-runtime-nvidia-hipamd-5.2.0.tar.gz::https://github.com/ROCm-Developer-Tools/hipamd/archive/rocm-5.2.0.tar.gz
	source = git-hash.patch
	source = config-path.patch::https://patch-diff.githubusercontent.com/raw/ROCm-Developer-Tools/hipamd/pull/32.patch
	source = nvcc.patch::https://patch-diff.githubusercontent.com/raw/ROCm-Developer-Tools/HIP/pull/2623.patch
	sha256sums = a6e0515d4d25865c037b546035df9c51f0882cd2700e759c266ff7e199f37c3a
	sha256sums = 8774958bebc29a4b7eb9dc2d38808d79d9a24bf9c1f44e801ff99d2d5ba82240
	sha256sums = 84cd40751e041edd48489eca59f1702bba08a402b25162e4cf061de45abc2bde
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = hip-runtime-nvidia
