pkgbase = hip-runtime-nvidia
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 5.0.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	makedepends = git
	depends = cuda
	depends = rocm-llvm
	provides = hip
	conflicts = hip
	source = hip-runtime-nvidia-5.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-5.0.0.tar.gz
	source = hip-runtime-nvidia-hipamd-5.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/hipamd/archive/rocm-5.0.0.tar.gz
	sha256sums = ae12fcda2d955f04a51c9e794bdb0fa96539cda88b6de8e377850e68e7c2a781
	sha256sums = cbd95a577abfd7cbffee14a4848f7789a417c6e5e5a713f42eb75d7948abcdf9

pkgname = hip-runtime-nvidia
