pkgbase = hip-runtime-nvidia
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = 5.1.3
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP.html
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = cmake
	makedepends = python
	makedepends = git
	depends = cuda
	depends = rocm-llvm
	provides = hip
	conflicts = hip
	source = hip-runtime-nvidia-5.1.3.tar.gz::https://github.com/ROCm-Developer-Tools/HIP/archive/rocm-5.1.3.tar.gz
	source = hip-runtime-nvidia-hipamd-5.1.3.tar.gz::https://github.com/ROCm-Developer-Tools/hipamd/archive/rocm-5.1.3.tar.gz
	source = nvcc.patch::https://patch-diff.githubusercontent.com/raw/ROCm-Developer-Tools/HIP/pull/2623.patch
	source = git-hash.patch
	sha256sums = ce755ee6e407904eba3f6b3c9efcdd48eb4f58a26b06e1892166d05f19a75973
	sha256sums = 707f2217f0e7aeb62d7b76830a271056d665542bf5f7a54e40adf4d5f299ca93
	sha256sums = SKIP
	sha256sums = 84cd40751e041edd48489eca59f1702bba08a402b25162e4cf061de45abc2bde

pkgname = hip-runtime-nvidia
