pkgbase = hipsycl-cuda-git
	pkgdesc = SYCL implementation over CUDA/HIP for NVIDIA devices.
	pkgver = latest
	pkgrel = 1
	url = https://github.com/illuhad/hipSYCL
	install = hipsycl-cuda-git.install
	arch = x86_64
	license = BSD
	makedepends = cmake
	depends = git
	depends = cuda-9.2
	depends = llvm
	depends = clang
	depends = boost
	depends = openmp
	provides = hipSYCL
	provides = SYCL
	source = git+https://github.com/illuhad/hipSYCL.git
	sha256sums = SKIP

pkgname = hipsycl-cuda-git

