pkgbase = aomp-extras
	pkgdesc = Extras host and device runtimes for AOMP
	pkgver = 11.6.1
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/aomp-extras
	arch = x86_64
	license = MIT
	makedepends = hip-rocclr
	makedepends = cmake
	depends = aomp-llvm
	depends = hsa-rocr
	source = aomp-extras-11.6.1.tar.gz::https://github.com/ROCm-Developer-Tools/aomp-extras/archive/aomp-11.6-1.tar.gz
	source = aomp-extras-11.6.1-device-libs.tar.gz::https://github.com/RadeonOpenCompute/ROCm-Device-Libs/archive/rocm-3.5.1.tar.gz
	sha256sums = a9ef93252029035a26b5643a0e6d7823d17d9bba513b7543801743897c628d31
	sha256sums = f30b388725f4ea2bfb1233683cde6ef4420c3b4f2b618ba46e3fabbf8ee4eb66

pkgname = aomp-extras

