pkgbase = miopen-hip
	pkgdesc = AMD's Machine Intelligence Library (HIP backend)
	pkgver = 3.10.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = half
	makedepends = miopengemm
	makedepends = clang
	makedepends = rocminfo
	depends = rocblas
	depends = boost
	depends = llvm-amdgpu
	depends = rocm-clang-ocl
	depends = hip
	provides = miopen
	conflicts = miopen
	source = miopen-hip-3.10.0.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpen/archive/rocm-3.10.0.tar.gz
	sha256sums = 926e43c5583cf70d6b247f9fe45971b8b1cc9668f9c8490c142c7e8b6e268f1a

pkgname = miopen-hip

