pkgbase = rocm-hip-sdk
	pkgdesc = Develop applications using HIP and libraries for AMD platforms
	pkgver = 5.2.1
	pkgrel = 2
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-hip-libraries
	depends = rocm-llvm
	depends = rocm-core
	depends = rocm-hip-runtime
	depends = hipblas
	depends = hipcub
	depends = hipfft
	depends = hipsparse
	depends = hipsolver
	depends = miopen-hip
	depends = rccl
	depends = rocalution
	depends = rocblas
	depends = rocfft
	depends = rocprim
	depends = rocrand
	depends = rocsolver
	depends = rocsparse
	depends = rocthrust
	source = rocm-hip-sdk-5.2.1.deb::https://repo.radeon.com/rocm/apt/5.2.1/pool/main/r/rocm-hip-sdk/rocm-hip-sdk_5.2.1.50201-79_amd64.deb
	sha256sums = b39ad15eaf503d2385c47022aa531b0e3bdc015f73791228ada8e7ea8f37cb6c

pkgname = rocm-hip-sdk
