pkgbase = rocm-hip-sdk
	pkgver = 5.4.0
	pkgrel = 1
	url = https://docs.amd.com/
	arch = x86_64
	license = None

pkgname = rocm-hip-sdk
	pkgdesc = Develop applications using HIP and libraries for AMD platforms
	depends = rocm-hip-libraries
	depends = rocm-llvm
	depends = rocm-core
	depends = rocm-hip-runtime
	depends = hipblas
	depends = hipcub
	depends = hipfft
	depends = hipsparse
	depends = hipsolver
	depends = miopen-hip
	depends = rccl
	depends = rocalution
	depends = rocblas
	depends = rocfft
	depends = rocprim
	depends = rocrand
	depends = rocsolver
	depends = rocsparse
	depends = rocthrust

pkgname = rocm-hip-libraries
	pkgdesc = Develop certain applications using HIP and libraries for AMD platforms
	depends = rocm-core
	depends = rocm-hip-runtime
	depends = hipblas
	depends = hipfft
	depends = hipsparse
	depends = hipsolver
	depends = rccl
	depends = rocalution
	depends = rocblas
	depends = rocfft
	depends = rocrand
	depends = rocsolver
	depends = rocsparse

pkgname = rocm-openmp-sdk
	pkgdesc = Develop OpenMP-based applications for AMD platforms
	depends = rocm-core
	depends = rocm-llvm
	depends = openmp-extras
	depends = rocm-language-runtime

pkgname = rocm-opencl-sdk
	pkgdesc = Develop OpenCL-based applications for AMD platforms
	depends = rocm-core
	depends = hsa-rocr
	depends = rocm-opencl-runtime
	depends = hsakmt-roct

pkgname = rocm-hip-runtime
	pkgdesc = Packages to run HIP applications on the AMD platform
	depends = rocm-core
	depends = rocm-language-runtime
	depends = rocminfo
	depends = hip-runtime-amd
	depends = rocm-llvm
	depends = rocm-cmake

pkgname = rocm-language-runtime
	pkgdesc = ROCm runtime
	depends = rocm-core
	depends = hsakmt-roct
	depends = hsa-rocr
	depends = rocm-device-libs
	depends = comgr

pkgname = rocm-ml-sdk
	pkgdesc = develop and run Machine Learning applications optimized for AMD platforms
	depends = rocm-core
	depends = rocm-hip-sdk
	depends = rocm-ml-libraries
	depends = miopen-hip

pkgname = rocm-ml-libraries
	pkgdesc = Packages for key Machine Learning libraries
	depends = rocm-core
	depends = rocm-hip-libraries
	depends = rocm-llvm
	depends = miopen-hip

pkgname = rocm-developer-tools
	pkgdesc = Packages required to debug and profile HIP-based applications
	depends = rocm-core
	depends = rocm-hip-sdk
	depends = hsa-amd-aqlprofile
	depends = rocprofiler
	depends = roctracer
	depends = rocm-gdb
	depends = rocm-dbgapi
	depends = rocm-debug-agent
