pkgbase = aomp-amdgpu
	pkgdesc = Clang/LLVM based compiler with added support for the OpenMP API on Radeon GPUs
	pkgver = 11.7.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/aomp
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = cmake
	makedepends = python
	makedepends = mesa
	depends = z3
	depends = numactl
	depends = pciutils
	depends = libelf
	depends = libffi
	source = aomp-amdgpu-11.7.0.tar.gz::https://github.com/ROCm-Developer-Tools/aomp/archive/rel_11.7-0.tar.gz
	source = disable_ocl_tests.patch
	source = adjust_rpath.patch
	source = remove_gcc_logic.patch
	sha256sums = 1f16492ed32b3df87c378503207d6b219779580f8f98ae268c8b46c1a148ab40
	sha256sums = bf3aab8fc2c828554ba76ab1876179130704f1c35906228fcf7e94239f5e4170
	sha256sums = 94c670cd991c95a7b6312feb77d32a11c1ac1b839218bcd251042563b7af1a44
	sha256sums = d1040410c7cebc109d2905722e959d4e9d3e4f122fe0a4ae72e3f3d8e5b9a722

pkgname = aomp-amdgpu

