pkgbase = aomp-amdgpu
	pkgdesc = Clang/LLVM based compiler with added support for the OpenMP API on Radeon GPUs
	pkgver = 11.11.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/aomp
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = cmake
	makedepends = python
	makedepends = python-pip
	makedepends = python-argparse
	makedepends = python-cppheaderparser
	makedepends = python-ply
	makedepends = python-wheel
	makedepends = mesa
	makedepends = texinfo
	depends = z3
	depends = numactl
	depends = pciutils
	depends = libelf
	depends = libffi
	depends = guile2.0
	depends = ncurses
	depends = expat
	depends = xz
	depends = zlib
	depends = mpfr
	depends = source-highlight
	depends = babeltrace
	source = aomp-amdgpu-11.11.0.tar.gz::https://github.com/ROCm-Developer-Tools/aomp/archive/rel_11.11-0.tar.gz
	source = disable_ocl_tests.patch
	source = remove_gcc_logic.patch
	sha256sums = 7d9cea6b8944f110dfdb307fdd7e11809168a5a8f6502ffbd8dbf1e711e20707
	sha256sums = 10450211c4ee15a39d3ce9d85403b11174430b17bafd229019cf5ed5840a8b7a
	sha256sums = 5cf8144d9f3e42feecdb12aaef013921fed5e4e61b4bf8e3c1960dced26d13ae

pkgname = aomp-amdgpu

