pkgbase = aomp-amdgpu
	pkgdesc = Clang/LLVM based compiler with added support for the OpenMP API on Radeon GPUs
	pkgver = 11.7.1
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/aomp
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = cmake
	makedepends = python
	makedepends = python-pip
	makedepends = python-argparse
	makedepends = python-cppheaderparser
	makedepends = python-ply
	makedepends = python-wheel
	makedepends = mesa
	makedepends = texinfo
	depends = z3
	depends = numactl
	depends = pciutils
	depends = libelf
	depends = libffi
	depends = guile2.0
	depends = ncurses
	depends = expat
	depends = xz
	depends = zlib
	depends = mpfr
	depends = source-highlight
	depends = babeltrace
	source = aomp-amdgpu-11.7.1.tar.gz::https://github.com/ROCm-Developer-Tools/aomp/archive/rel_11.7-1.tar.gz
	source = disable_ocl_tests.patch
	source = adjust_rpath.patch
	source = remove_gcc_logic.patch
	source = opencl_includes.patch::https://patch-diff.githubusercontent.com/raw/ROCm-Developer-Tools/ROCclr/pull/16.patch
	sha256sums = 74089dc689408ace339998cfd2fb8c04dded3776e63a30cc78f4c43fe3d5016f
	sha256sums = bf3aab8fc2c828554ba76ab1876179130704f1c35906228fcf7e94239f5e4170
	sha256sums = 94c670cd991c95a7b6312feb77d32a11c1ac1b839218bcd251042563b7af1a44
	sha256sums = d1040410c7cebc109d2905722e959d4e9d3e4f122fe0a4ae72e3f3d8e5b9a722
	sha256sums = 3edeb8aeaf335297ec0f61a15b99c259d607d8f534173fbc3d17832ad03cd63f

pkgname = aomp-amdgpu

