pkgbase = rocr-runtime-git
	pkgdesc = ROCm Platform Runtime: ROCr a HPC market enhanced HSA based runtime
	pkgver = latest
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCR-Runtime
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = git
	makedepends = cmake
	makedepends = libelf
	makedepends = hsakmt-roct
	provides = rocr-runtime
	conflicts = rocr-runtime
	source = git+https://github.com/RadeonOpenCompute/ROCR-Runtime.git
	sha256sums = SKIP

pkgname = rocr-runtime-git

