pkgbase = rocm-hip-libraries
	pkgdesc = Develop applications using HIP and libraries for AMD platforms
	pkgver = 5.1.3
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-core
	depends = rocm-hip-runtime
	depends = rocsparse
	depends = rccl
	depends = rocsolver
	depends = rocrand
	depends = rocfft
	depends = rocblas
	depends = rocalution
	depends = hipblas
	depends = hipfft
	depends = hipsparse
	depends = hipfort
	source = rocm-hip-libraries-5.1.3.deb::https://repo.radeon.com/rocm/apt/5.1.3/pool/main/r/rocm-hip-libraries/rocm-hip-libraries_5.1.3.50103-66_amd64.deb
	sha256sums = 41583a1b56a5444d2fc9744583035c03e5c9434f264767b377d67fd4400acee1

pkgname = rocm-hip-libraries
