pkgbase = rocm-hip-libraries
	pkgdesc = Develop applications using HIP and libraries for AMD platforms
	pkgver = 5.2.1
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-core
	depends = rocm-hip-runtime
	depends = rocsparse
	depends = rccl
	depends = rocsolver
	depends = rocrand
	depends = rocfft
	depends = rocblas
	depends = rocalution
	depends = hipblas
	depends = hipfft
	depends = hipsparse
	depends = hipfort
	source = rocm-hip-libraries-5.2.1.deb::https://repo.radeon.com/rocm/apt/5.2.1/pool/main/r/rocm-hip-libraries/rocm-hip-libraries_5.2.1.50201-79_amd64.deb
	sha256sums = 6cccc0b579a6f215cba560209fd1d189b4853d2f50b53e5cd642c5ebc3d7c702

pkgname = rocm-hip-libraries
