pkgbase = rock-dkms-firmware-bin
	pkgdesc = Linux AMD GPU firmware from ROC in DKMS format.
	pkgver = 4.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver
	arch = any
	license = GPL
	depends = dkms
	provides = rock-dkms-firmware
	conflicts = rock-dkms-firmware
	options = !strip
	options = !emptydirs
	source = rock-dkms-firmware-bin-4.0.tar.gz::http://repo.radeon.com/rocm/apt/4.0/pool/main/r/rock-dkms/rock-dkms-firmware_4.0-23_all.deb
	sha256sums = 7622d6f8c40574789b1307feb4c11f5a86c2d5ed6197a7bc50a93c75df715277

pkgname = rock-dkms-firmware-bin

