pkgbase = hipify-clang
	pkgdesc = Convert CUDA to Portable C++ Code
	pkgver = 5.0.1
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIPIFY
	arch = x86_64
	license = unknown
	makedepends = cmake
	depends = rocm-llvm
	depends = cuda
	source = hipify-clang-5.0.1.tar.gz::https://github.com/ROCm-Developer-Tools/HIPIFY/archive/rocm-5.0.1.tar.gz
	sha256sums = 3f58b7dea52622e0f7f14987d911357cb8ed3423671904bf98c3d62fd874b617

pkgname = hipify-clang
