pkgbase = hipify-clang
	pkgdesc = Convert CUDA to Portable C++ Code
	pkgver = 5.0.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIPIFY
	arch = x86_64
	license = unknown
	makedepends = cmake
	depends = rocm-llvm
	depends = cuda
	source = hipify-clang-5.0.0.tar.gz::https://github.com/ROCm-Developer-Tools/HIPIFY/archive/rocm-5.0.0.tar.gz
	sha256sums = 06fbb3259b6d014bc24fb3c05f71026bc39ae564559d40f2ca37236044c7ba17

pkgname = hipify-clang
