pkgbase = rocprofiler
	pkgdesc = ROC profiler library. Profiling with perf-counters and derived metrics.
	pkgver = 5.4.4
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Tools/ROCm-Tools.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = python-argparse
	makedepends = python-cppheaderparser
	makedepends = hsa-rocr
	depends = hip
	depends = python
	depends = hsa-amd-aqlprofile
	source = rocprofiler-5.4.4.tar.gz::https://github.com/ROCm-Developer-Tools/rocprofiler/archive/refs/tags/rocm-5.4.4.tar.gz
	source = rocprofiler-roctracer-5.4.4.tar.gz::https://github.com/ROCm-Developer-Tools/roctracer/archive/refs/tags/rocm-5.4.4.tar.gz
	sha256sums = e91c18f90fa19df8789143c012be45970cb97b416546d17696756510ec0d509f
	sha256sums = 691ffb78611778394d96bd4ebe56e2aa4798b0f6086f79ae388a0bf738e3b819

pkgname = rocprofiler
