pkgbase = rocfft
	pkgdesc = Next generation FFT implementation for ROCm
	pkgver = 5.0.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#rocfft
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = hip
	source = rocfft-5.0.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocFFT/archive/rocm-5.0.0.tar.gz
	sha256sums = c16374dac2f85fbaf145511653e93f6db3151425ce39b282187745c716b67405

pkgname = rocfft
