pkgbase = rocfft
	pkgdesc = Next generation FFT implementation for ROCm
	pkgver = 5.2.1
	pkgrel = 1
	url = https://docs.amd.com/bundle/rocFFT-release-rocm-rel-5.2/page/library.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = hip
	options = !lto
	source = rocfft-5.2.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rocFFT/archive/rocm-5.2.1.tar.gz
	sha256sums = 6302349b6cc610a9a939377e2c7ffba946656a8d43f2e438ff0b3088f0f963ad

pkgname = rocfft
