pkgbase = miopen
	pkgdesc = AMD's Machine Intelligence Library
	pkgver = 2.3.0.2.2.1
	pkgrel = 4
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = opencl-headers
	makedepends = cmake
	makedepends = half
	makedepends = miopengemm
	depends = ocl-icd
	depends = hip
	depends = hcc
	depends = rocblas
	depends = boost>=1.58
	depends = rocm-clang-ocl
	source = https://github.com/ROCmSoftwarePlatform/MIOpen/archive/2.2.1.tar.gz
	sha256sums = 445870318d7abb75a703b1021e8cb198bb64a5e1c9401487db40b5c3a7ae41e4

pkgname = miopen

