pkgbase = miopen
	pkgdesc = AMD's Machine Intelligence Library
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = opencl-headers
	makedepends = cmake
	makedepends = half
	makedepends = miopengemm
	depends = ocl-icd
	depends = hip
	depends = hcc
	depends = rocblas
	depends = boost>=1.58
	depends = rocm-clang-ocl
	source = https://github.com/ROCmSoftwarePlatform/MIOpen/archive/roc-3.3.0.tar.gz
	sha256sums = ab056f7921c2e4a7932225409b836258327f5ec5e3ee513726a114cd303d9b59

pkgname = miopen

