pkgbase = rocm-clang-ocl
	pkgdesc = OpenCL compilation with clang compiler.
	pkgver = 5.2.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/clang-ocl
	arch = x86_64
	license = unknown
	makedepends = cmake
	makedepends = rocm-cmake
	depends = rocm-llvm
	depends = rocm-opencl-runtime
	source = rocm-clang-ocl-5.2.0.tar.gz::https://github.com/RadeonOpenCompute/clang-ocl/archive/rocm-5.2.0.tar.gz
	sha256sums = a2059f6aeccc119abbd444cb37128e00e4854e22a88a47f120f8f8b947d862c5

pkgname = rocm-clang-ocl
