pkgbase = rocm-clang-ocl
	pkgdesc = OpenCL compilation with clang compiler.
	pkgver = 3.10.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/clang-ocl
	arch = x86_64
	license = unknown
	makedepends = cmake
	makedepends = rocm-cmake
	depends = llvm-amdgpu
	depends = rocm-opencl-runtime
	source = rocm-clang-ocl-3.10.0.tar.gz::https://github.com/RadeonOpenCompute/clang-ocl/archive/rocm-3.10.0.tar.gz
	sha256sums = 17fc8fb8c38b18f9f0cac339dda6cea3e9e66805f7a92ec2456072fc1e72fa85

pkgname = rocm-clang-ocl

