pkgbase = rocm-clang-ocl
	pkgdesc = OpenCL compilation with clang compiler.
	pkgver = 4.5.2
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/clang-ocl
	arch = x86_64
	license = unknown
	makedepends = cmake
	makedepends = rocm-cmake
	depends = rocm-llvm
	depends = rocm-opencl-runtime
	source = rocm-clang-ocl-4.5.2.tar.gz::https://github.com/RadeonOpenCompute/clang-ocl/archive/rocm-4.5.2.tar.gz
	sha256sums = 8cc7b8658e81ef378c16bbb00fc6b29140c850da70adc4e520ecec9b4517beb8

pkgname = rocm-clang-ocl
