pkgbase = rocm-bandwidth-test
	pkgdesc = Bandwidth test for ROCm
	pkgver = 5.1.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocm_bandwidth_test
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	depends = hsa-rocr
	options = !staticlibs
	source = rocm-bandwidth-test-5.1.0.tar.gz::https://github.com/RadeonOpenCompute/rocm_bandwidth_test/archive/rocm-5.1.0.tar.gz
	sha256sums = 18fe51f0ba61760fc89ffc81f737fd4fa20fb4b00df3f35145be77c3e0a6162b

pkgname = rocm-bandwidth-test
