pkgbase = rocm-bandwidth-test
	pkgdesc = Bandwidth test for ROCm
	pkgver = 5.6.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocm_bandwidth_test
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	depends = hsa-rocr
	source = rocm-bandwidth-test-5.6.1.tar.gz::https://github.com/RadeonOpenCompute/rocm_bandwidth_test/archive/rocm-5.6.1.tar.gz
	source = rocm-bandwidth-test-hsa-include.patch
	sha256sums = 849af715d08dfd89e7aa5e4453b624151db1cafaa567ab5fa36a77948b90bf0d
	sha256sums = 8c3be607d36fb5aa01f770c244c5d4088dffddf879a21a9e0ac80d6dbcd2dbdf

pkgname = rocm-bandwidth-test
