pkgbase = rocwmma
	pkgdesc = Library for accelerating mixed precision matrix multiplication
	pkgver = 5.3.0
	pkgrel = 1
	url = https://rocwmma.readthedocs.io/en/latest/index.html
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	makedepends = git
	makedepends = doxygen
	depends = hip
	depends = rocblas
	depends = openmp
	source = rocwmma-5.3.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocWMMA/archive/rocm-5.3.0.tar.gz
	sha256sums = 04bac641ba18059118d3faa5f21fe3bf3e285055d40930489ebf27ffc8e5d16e

pkgname = rocwmma
