pkgbase = rocprim
	pkgdesc = Header-only library providing HIP parallel primitives
	pkgver = 3.10.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/rocPRIM
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = hip-rocclr
	source = rocprim-3.10.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocPRIM/archive/rocm-3.10.0.tar.gz
	sha256sums = b406956b27d1c06b749e991a250d4ad3eb26e20c6bebf121e2ca6051597b4fa4

pkgname = rocprim

