pkgbase = rocprim
	pkgdesc = Header-only library providing HIP parallel primitives
	pkgver = 5.1.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/rocPRIM
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	depends = hip
	source = rocprim-5.1.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocPRIM/archive/rocm-5.1.0.tar.gz
	sha256sums = dfe106c01155e00ed816f0231d1576ff8c08750cc8278fa453926f388dc6fe48

pkgname = rocprim
