pkgbase = hipsparse
	pkgdesc = rocSPARSE marshalling library.
	pkgver = 4.5.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#hipsparse
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	depends = hip
	depends = rocsparse
	source = hipsparse-4.5.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipSPARSE/archive/rocm-4.5.0.tar.gz
	sha256sums = 1049c490fc2008d701a16d14e11004e3bc5b4da993aa48b117e3c44be5677e3c

pkgname = hipsparse
