pkgbase = hipcub
	pkgdesc = Header-only library on top of rocPRIM or CUB
	pkgver = 5.2.0
	pkgrel = 1
	url = https://docs.amd.com/bundle/hipCUB-release-rocm-rel-5.2/page/introduction.html
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	makedepends = hip
	depends = rocprim
	source = hipcub-5.2.0.tar.gz::https://github.com/ROCmSoftwarePlatform/hipCUB/archive/rocm-5.2.0.tar.gz
	sha256sums = ac4dc2310f0eb657e1337c93d8cc4a5d8396f9544a7336eeceb455678a1f9139

pkgname = hipcub
