pkgbase = hipcub
	pkgdesc = Header-only library on top of rocPRIM or CUB
	pkgver = 5.1.3
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Libraries/ROCm_Libraries.html#hipcub
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = git
	makedepends = hip
	depends = rocprim
	source = hipcub-5.1.3.tar.gz::https://github.com/ROCmSoftwarePlatform/hipCUB/archive/rocm-5.1.3.tar.gz
	sha256sums = dc75640689b6a5e15dd3acea643266bdf114ea63efc60be8272f484cf8f04494

pkgname = hipcub
