pkgbase = roctracer
	pkgdesc = ROCm Tracer Callback/Activity Library for Performance tracing AMD GPU's
	pkgver = 3.5.0
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/ROCm_Tools/ROCm-Tools.html#amd-rocm-roctracer
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = python
	makedepends = python-argparse
	makedepends = python-cppheaderparser
	depends = hsa-rocr
	options = !staticlibs
	options = strip
	source = roctracer-rocm-3.5.0.tar.gz::https://github.com/ROCm-Developer-Tools/roctracer/archive/rocm-3.5.0.tar.gz
	source = add_string_header.patch
	sha256sums = 7af5326c9ca695642b4265232ec12864a61fd6b6056aa7c4ecd9e19c817f209e
	sha256sums = 78282e835e495d9499b5e4a759772b80443122390022f4560a500d11e9d6bf0d

pkgname = roctracer

