pkgbase = roctracer
	pkgdesc = ROCm Tracer Callback/Activity Library for Performance tracing AMD GPU's
	pkgver = 3.3.0
	pkgrel = 3
	url = https://github.com/ROCm-Developer-Tools/roctracer
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = hsa-rocr
	depends = python
	depends = python-argparse
	depends = python-cppheaderparser
	optdepends = hip: tracing for higher level interface
	options = !staticlibs
	options = strip
	source = roctracer-roc-3.3.0.tar.gz::https://github.com/ROCm-Developer-Tools/roctracer/archive/roc-3.3.0.tar.gz
	sha256sums = 4a3b12e9d2a78565f4c6eaaa23c696c9fd8d57cb75d5e57e834def1624e68770

pkgname = roctracer

