pkgbase = openmp-extras
	pkgdesc = Radeon Open Compute - openmp-extras with flang (OpenMP AMD GPU Offloading)
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/aomp
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = cmake
	makedepends = python
	makedepends = ninja
	makedepends = gawk
	depends = rocm-device-libs
	depends = rocm-llvm
	options = staticlibs
	source = llvm-amdgpu-4.5.0.tar.gz::https://github.com/RadeonOpenCompute/llvm-project/archive/rocm-4.5.0.tar.gz
	source = aomp-4.5.0.tar.gz::https://github.com/ROCm-Developer-Tools/aomp/archive/rocm-4.5.0.tar.gz
	source = aomp-device-libs-4.5.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-Device-Libs/archive/rocm-4.5.0.tar.gz
	source = flang-4.5.0.tar.gz::https://github.com/ROCm-Developer-Tools/flang/archive/rocm-4.5.0.tar.gz
	source = aomp-gcc8-only-for-cuda.patch
	source = aomp-openmp-buildpath.patch
	source = aomp-flang-decouple-out-dir-and-rocm-install.patch
	source = aomp-flang-libomp-path.patch
	sha256sums = e33d08c8ae42a3ba394dceb8938263cd14ba45e9603b18f3502c3344814ca296
	sha256sums = 27a5794b5885c61dc6f63cec36673b37deb029754d3b2fd3e1b21239efffa96a
	sha256sums = 78412fb10ceb215952b5cc722ed08fa82501b5848d599dc00744ae1bdc196f77
	sha256sums = 3d7277fd658e51e7e43272c4b319e733c18f5a6d11f739aaec0df758a720809e
	sha256sums = 705a7103c3aeff514e5645c130786172961c54673dfdd772caece3b5e7536088
	sha256sums = f7ed1704ffb095bbe8512b1c567a111936685d35f64123c786194e4239277251
	sha256sums = e82a4f065cc259095bf96778b913b97fe39d7c207e4e25ccf59d8fa264014262
	sha256sums = ff3c3e56bfc11c0c9a6ab5c5392168da06aed3b4a21cdfcf7a149d12a69e2906

pkgname = openmp-extras
