pkgbase = hip-git
	pkgdesc = Heterogeneous Interface for Portability ROCm
	pkgver = latest
	pkgrel = 1
	url = https://github.com/ROCm-Developer-Tools/HIP
	arch = x86_64
	license = MIT
	makedepends = libelf
	makedepends = git
	makedepends = cmake
	makedepends = hcc
	provides = hip
	conflicts = hip
	source = git+https://github.com/ROCm-Developer-Tools/HIP.git
	sha256sums = SKIP

pkgname = hip-git

