pkgbase = rocm-smi-lib64
	pkgdesc = ROCm System Management Interface Library
	pkgver = 5.0.1
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocm_smi_lib
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	makedepends = doxygen
	makedepends = texlive-latexextra
	options = !staticlibs
	options = strip
	source = rocm-smi-lib64-5.0.1.tar.gz::https://github.com/RadeonOpenCompute/rocm_smi_lib/archive/rocm-5.0.1.tar.gz
	sha256sums = bf0beb092522ef06f94e7763217678ec6cba160ace1de3e1e0a61bf4ae251135

pkgname = rocm-smi-lib64
