pkgbase = rocm-smi-lib64
	pkgdesc = ROCm SMI LIB
	pkgver = 3.10.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/rocm_smi_lib
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	options = !staticlibs
	options = strip
	source = rocm-smi-lib64-3.10.0.tar.gz::https://github.com/RadeonOpenCompute/rocm_smi_lib/archive/rocm-3.10.0.tar.gz
	sha256sums = 8bb2142640d1c6bf141f19accf809e61377a6e0c0222e47ac4daa5da2c85ddac

pkgname = rocm-smi-lib64

