pkgbase = migraphx
	pkgdesc = AMD's graph optimization engine
	pkgver = 5.0.2
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/AMDMIGraphX/doc/html/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = nlohmann-json
	makedepends = pybind11
	depends = hip
	depends = miopen
	depends = protobuf
	depends = msgpack-cxx
	depends = blaze
	source = migraphx-5.0.2.tar.gz::https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/archive/rocm-5.0.2.tar.gz
	source = half-1.12.0.tar.gz::https://github.com/ROCmSoftwarePlatform/half/archive/refs/tags/1.12.0.tar.gz
	sha256sums = 3ef48ac03b909d1a1aa1f91f365ce64af2ce66635b6efb5ad0b207dc51ff2fd6
	sha256sums = 0a08660b68abb176ebc2a0cdf8de46e3182a7f46c66443bb80dbfaaec98cf969

pkgname = migraphx
