pkgbase = migraphx
	pkgdesc = AMD's graph optimization engine
	pkgver = 4.5.2
	pkgrel = 1
	url = https://rocmsoftwareplatform.github.io/AMDMIGraphX/doc/html/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = nlohmann-json
	makedepends = half
	makedepends = pybind11
	depends = hip
	depends = miopen
	depends = protobuf
	depends = msgpack-cxx
	depends = blaze
	source = migraphx-4.5.2.tar.gz::https://github.com/ROCmSoftwarePlatform/AMDMIGraphX/archive/rocm-4.5.2.tar.gz
	sha256sums = ecfd9a8e7967076f056d5b6a90b22f8919b82226443769b181193f16ebf58b83

pkgname = migraphx
