pkgbase = rocm-opencl-runtime
	pkgdesc = Radeon Open Compute - OpenCL runtime
	pkgver = 5.1.0
	pkgrel = 2
	url = https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	depends = hsakmt-roct
	depends = hsa-rocr
	depends = comgr
	depends = mesa
	depends = opencl-icd-loader
	provides = opencl-driver
	conflicts = opencl-amdgpu-pro-pal
	source = rocm-opencl-runtime-5.1.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-5.1.0.tar.gz
	source = rocm-opencl-runtime-rocclr-5.1.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-5.1.0.tar.gz
	source = enable-gfx800.patch
	sha256sums = 362d81303048cf7ed5d2f69fb65ed65425bc3da4734fff83e3b8fbdda51b0927
	sha256sums = f4f265604b534795a275af902b2c814f416434d9c9e16db81b3ed5d062187dfa
	sha256sums = b186dd4a604d6e8a2c94ba6569638aaa8066558d764aa0d9cf76f998724ed90a

pkgname = rocm-opencl-runtime
