pkgbase = rocm-opencl-runtime
	pkgdesc = OpenCL implementation for AMD
	pkgver = 5.4.0
	pkgrel = 2
	url = https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	depends = hsakmt-roct
	depends = hsa-rocr
	depends = comgr
	depends = mesa
	depends = opencl-icd-loader
	provides = opencl-driver
	source = rocm-opencl-runtime-5.4.0.tar.gz::https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/archive/rocm-5.4.0.tar.gz
	source = rocm-opencl-runtime-rocclr-5.4.0.tar.gz::https://github.com/ROCm-Developer-Tools/ROCclr/archive/rocm-5.4.0.tar.gz
	sha256sums = a294639478e76c75dac0e094b418f9bd309309b07faf6af126cdfad9aab3c5c7
	sha256sums = 46a1579310b3ab9dc8948d0fb5bed4c6b312f158ca76967af7ab69e328d43138

pkgname = rocm-opencl-runtime
