pkgbase = atmi
	pkgdesc = Task graph framework for heterogeneous CPU-GPU systems.
	pkgver = 5.0.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/atmi
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rsync
	depends = hsa-rocr
	depends = comgr
	source = atmi-5.0.0.tar.gz::https://github.com/RadeonOpenCompute/atmi/archive/rocm-5.0.0.tar.gz
	sha256sums = 208c1773170722b60b74357e264e698df5871e9d9d490d64011e6ea76750d9cf

pkgname = atmi
