pkgbase = rocblas
	pkgdesc = Next generation BLAS implementation for ROCm platform
	pkgver = 4.3.1
	pkgrel = 1
	url = https://rocblas.readthedocs.io/en/latest
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = python
	makedepends = python-virtualenv
	makedepends = python-pyaml
	makedepends = perl-file-which
	makedepends = msgpack-c
	makedepends = rocm-cmake
	makedepends = llvm-amdgpu
	makedepends = gcc-fortran
	depends = hip-rocclr
	depends = openmp
	options = !strip
	source = rocblas-4.3.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rocBLAS/archive/rocm-4.3.1.tar.gz
	sha256sums = ad3c09573cb2bcfdb12bfb5a05e85f9c95073993fd610981df24dda792727b4b

pkgname = rocblas
