pkgbase = rocblas
	pkgdesc = Next generation BLAS implementation for ROCm platform
	pkgver = 5.4.1
	pkgrel = 1
	url = https://rocblas.readthedocs.io/en/latest
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	makedepends = python
	makedepends = python-virtualenv
	makedepends = python-pyaml
	makedepends = python-wheel
	makedepends = perl-file-which
	makedepends = python-msgpack
	makedepends = msgpack-cxx
	makedepends = gcc-fortran
	depends = hip
	depends = openmp
	options = !lto
	source = rocblas-5.4.1.tar.gz::https://github.com/ROCmSoftwarePlatform/rocBLAS/archive/rocm-5.4.1.tar.gz
	source = rocblas-tensile-5.4.1.tar.gz::https://github.com/ROCmSoftwarePlatform/Tensile/archive/refs/tags/rocm-5.4.1.tar.gz
	sha256sums = 2f6d30b025306ba5f378154eb0494ac9260190120d085b67c3f499e7d2b6a70b
	sha256sums = 6bcc08426c14c203c799c93815293c2a17d5b656936536dcece1302d53816cef

pkgname = rocblas
