pkgbase = rocblas
	pkgdesc = Next generation BLAS implementation for ROCm platform
	pkgver = 5.3.0
	pkgrel = 1
	url = https://rocblas.readthedocs.io/en/latest
	arch = x86_64
	license = MIT
	makedepends = rocm-cmake
	makedepends = git
	makedepends = python
	makedepends = python-pip
	makedepends = python-virtualenv
	makedepends = python-pyaml
	makedepends = perl-file-which
	makedepends = msgpack-c
	makedepends = gcc-fortran
	depends = hip
	depends = openmp
	options = !lto
	source = rocblas-5.3.0.tar.gz::https://github.com/ROCmSoftwarePlatform/rocBLAS/archive/rocm-5.3.0.tar.gz
	sha256sums = 8ea7269604cba949a6ea84b78dc92a44fa890427db88334da6358813f6512e34

pkgname = rocblas
