pkgbase = rocm-utils
	pkgdesc = ROCm Platform Runtime: Closed source utils
	pkgver = 2.2.31
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCm
	arch = any
	license = BEER
	depends = rocminfo
	depends = rocm-clang-ocl
	provides = rocm-utils
	conflicts = rocm-utils

pkgname = rocm-utils

