pkgbase = rocm-comgr
	pkgdesc = Radeon Open Compute - compiler support
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCm-CompilerSupport
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = llvm-roc
	source = rocm-comgr::git+https://github.com/RadeonOpenCompute/ROCm-CompilerSupport#tag=rocm-3.3.0
	sha256sums = SKIP

pkgname = rocm-comgr

