pkgbase = rocr-debug-agent
	pkgdesc = ROCr Debug Agent Library
	pkgver = 3.3.0
	pkgrel = 2
	url = https://github.com/ROCm-Developer-Tools/rocr_debug_agent
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	depends = hsa-rocr
	depends = hsakmt-roct
	depends = rocm-clang-ocl
	options = !staticlibs
	options = strip
	source = rocr_debug_agent-roc-3.3.0.tar.gz::https://github.com/ROCm-Developer-Tools/rocr_debug_agent/archive/roc-3.3.0.tar.gz
	sha256sums = 46a778fd7096d3affe65701f755b7ed7f9a2c611bad0b9a74302a56c66ee8ae2

pkgname = rocr-debug-agent

