pkgbase = rocr-debug-agent
	pkgdesc = ROCr Debug Agent Library
	pkgver = 3.1.0
	pkgrel = 2
	url = https://github.com/ROCm-Developer-Tools/rocr_debug_agent
	arch = x86_64
	license = custom:NCSAOSL
	makedepends = cmake
	depends = rocr-runtime>=3.1.0
	depends = hsakmt-roct>=3.1.0
	options = !staticlibs
	options = strip
	source = rocr_debug_agent-roc-3.1.0.tar.gz::https://github.com/ROCm-Developer-Tools/rocr_debug_agent/archive/roc-3.1.0.tar.gz
	sha256sums = 3ee1e947bee5d89c4f0bb6136be9306bcee0088c0b9534bd5065cad31fecac27

pkgname = rocr-debug-agent

