pkgbase = rocm-smi
	pkgdesc = Utility to manage and monitor AMDGPU / ROCm systems
	pkgver = 3.7.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROC-smi
	arch = any
	license = MIT
	depends = python
	source = rocm-smi-3.7.0::https://github.com/RadeonOpenCompute/ROC-smi/archive/rocm-3.7.0.tar.gz
	sha256sums = 4e34b3b4e409bb89677882f47d9988d56bc2d9bb9893f0712c22a4b73789e06a

pkgname = rocm-smi

