pkgbase = rocm-language-runtime
	pkgdesc = ROCr - ROCm runtime
	pkgver = 5.1.1
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-core
	depends = hsakmt-roct
	depends = hsa-rocr
	depends = rocm-device-libs
	depends = comgr
	source = rocm-language-runtime-5.1.1.deb::https://repo.radeon.com/rocm/apt/5.1.1/pool/main/r/rocm-language-runtime/rocm-language-runtime_5.1.1.50101-48_amd64.deb
	sha256sums = f13b7c15d28fac6b53271eabe00b801a79b435330214b468b06967e598961e8a

pkgname = rocm-language-runtime
