pkgbase = rocm-language-runtime
	pkgdesc = ROCr - ROCm runtime
	pkgver = 5.2.1
	pkgrel = 1
	url = https://rocm-documentation.readthedocs.io/en/latest/
	arch = x86_64
	depends = rocm-core
	depends = hsakmt-roct
	depends = hsa-rocr
	depends = rocm-device-libs
	depends = comgr
	source = rocm-language-runtime-5.2.1.deb::https://repo.radeon.com/rocm/apt/5.2.1/pool/main/r/rocm-language-runtime/rocm-language-runtime_5.2.1.50201-79_amd64.deb
	sha256sums = 002e13c67100e5e8027c327059e60f10b4f6f3d0ac824a210aedd1ffae7a775a

pkgname = rocm-language-runtime
