pkgbase = hsakmt-roct
	pkgdesc = Radeon Open Compute Thunk Interface
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = numactl
	depends = pciutils
	provides = roct-thunk-interface=3.3.0
	replaces = roct-thunk-interface
	source = hsakmt-roct.tar.gz::https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface/archive/roc-3.3.0.tar.gz
	sha256sums = 2cabe9d2cfa72031c05d11290837c476182e72d8dec2049298f691143fdd212b

pkgname = hsakmt-roct

