pkgbase = hsakmt-roct
	pkgdesc = Radeon Open Compute Thunk Interface
	pkgver = 5.0.1
	pkgrel = 1
	url = https://rocmdocs.amd.com/en/latest/Installation_Guide/ROCt.html
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = numactl
	depends = pciutils
	depends = libdrm
	provides = roct-thunk-interface=5.0.1
	replaces = roct-thunk-interface
	source = hsakmt-roct-5.0.1.tar.gz::https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface/archive/rocm-5.0.1.tar.gz
	sha256sums = a7cb3fb1a4b7bf30d194851411f132144c21685d9e4a120392adddac999e9282

pkgname = hsakmt-roct
