pkgbase = hsakmt-roct
	pkgdesc = Radeon Open Compute Thunk Interface
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = numactl
	depends = pciutils
	provides = roct-thunk-interface=3.1.0
	replaces = roct-thunk-interface
	source = hsakmt-roct.tar.gz::https://github.com/RadeonOpenCompute/ROCT-Thunk-Interface/archive/roc-3.1.0.tar.gz
	sha256sums = b08176b5f4af39d0160990f9f1dea5d27974f9282f544140b4a41d19446fe570

pkgname = hsakmt-roct

